/* css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto , sans-serif;
    color: white;
}

body{
    background-color: #000;
}

.editor{
    border:  2px solid #c4cfd6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 100px;


}

/*  tweet settings */

.tweet-setting{
    width: 100%;
    height: auto;
    padding: 20px;
    flex-wrap: wrap;
}

input{
   background: rgba(0,0,0,0);
}

.settings-name{
    padding: 5px;
}
.settings-username{
    padding: 5px;
}

.settings-profile{
    padding-top: 10px;
    padding-left:5px;
}
.settings-content{
    padding-left: 5px;
}
.settings-content label{
    padding-bottom: 15px;
}
.text-area{
    width: 100%;
    margin-top: 20px;
    color: black;
}

.settings-retweet{
    padding-left: 5px;
    padding-top: 10px;
}
.settings-like{
    padding: 5px;
}
.settings-repost{
    padding: 5px;
}

.settings-save{
    padding: 5px;
}

.settings-date{
    padding: 5px;

}

.date{
    color: black;
    background-color: white;
}
.time{
    color: black;
    background-color: white;
}


.settings-time{
    padding: 5px;

}


.settings-views{
    padding: 5px;

}
.settings-download{
    padding: 5px;

}
.settings-download button{
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;
}

.settings-verified{
    padding: 5px;
}
.settings-verified select , option {
    color: black;
}

/* divider line in middle*/
.divider{
    border: 2px solid white;
    margin: 10px 0;

}

.tweet-editor{
    width: 100%;
    height: auto;
    padding: 10px;
    position: relative;
    background: #000;
}
.tweet-editor-header{
    display: flex;
}

.photo{
    width:50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
}
.namespaces{
    padding-left: 6px;
    padding-top: 8px;
}

.name span{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

.verified{

}


.username span{
    color: rgb(113, 118, 123);
    font-size: 16px;
    font-weight: 400;
}

.viewbox{
    position: absolute;
    top: 20px;
    left: 560px;
}

.tweet-content{
    padding-left: 5px;
    padding-top: 15px;
}

.tweet-content span{
    word-wrap: break-word;
    overflow: hidden;
    font-size: 19px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    line-height: 1.4;
}


.tweet-date-container{
    padding-left: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.tweet-time{
    color: rgb(113, 118, 123);

}

.tweet-date{
color: rgb(113, 118, 123);

}
.tweet-views{
    color: white;
    font-weight: 700;
}
.tweet-date-container  p{
    color: rgb(113, 118, 123);
}

.line-break{
    padding-left: 5px;
    padding-top: 15px;
  border-bottom: 1px solid rgb(113, 118, 123) ;

}

.tweet-icons {
    padding-left: 5px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.tweet-icons span{
   padding-left: 3px;
   position: absolute;
   font-size: 13px;
    color: rgb(113, 118, 123);
    bottom: 18px;
}

